services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    depends_on:
      - jaeger
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - data_url=${data_url}
      - SECRET_KEY=${SECRET_KEY}
      - model_path=/app/ml/model/model_salary_prediction.pkl
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000
    depends_on:
      - backend

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "4317:4317"
